@require '../bits-ui/_require'

body
    margin: 0
    background-color: #eeeeee
    font-family: cantarell
    padding-bottom: 10rem

.container
    margin: auto
    @media $sm
        width: 90%
        min-width: 280px
    @media $md
        width: 70%
    @media $lg
        width: 50%
        max-width: 1000px

img.center
    margin: auto
    display: block

a
    text-decoration: none

pre
    background-color: white
    padding: 0.8rem
    overflow: auto
    font-size: 0.8em
    border-radius: $radius
    code
        padding: 0

code
    background-color: white
    padding: 0.2rem
    border-radius: $radius
    box-sizing: border-box

h2
    margin-top: 2rem
h3
    margin-top: 1rem

a.button
    padding: 0 0.5rem
