<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36104934-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-36104934-8');
</script>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="static/lib/bits-ui/normalize.css">
<link rel="stylesheet" href="static/bits-ui/bits-ui.css">
<link rel="stylesheet" href="static/lib/prismjs/themes/prism-tomorrow.css">
<link rel="stylesheet" href="static/template/base.css">

<link rel="icon-svg"
    theme="brand"
    href="static/asset/icon/brand.svg">
<script>
    window.addEventListener('load', function(){
        riot.mount('icon');
    });
</script>

<style>
@font-face {
    /* Set UI font, Cantarell is recommended */
    font-family: bits-ui;
    src: url('static/lib/bits-ui/font/Cantarell/Cantarell-Regular.ttf');
}
@font-face {
    /* Set UI font, Cantarell is recommended */
    font-family: cantarell;
    src: url('static/lib/bits-ui/font/Cantarell/Cantarell-Regular.ttf');
}
</style>
<script defer src="static/lib/bits-ui/riot.min.js"></script>
<script defer src="static/lib/bits-ui/bits-ui.js"></script>
<script src="static/lib/prismjs/prism.js"></script>
<script src="static/lib/prismjs/components/prism-python.min.js"></script>
<script>
    window.addEventListener('load', function(){
        riot.mount('bits');
    })
</script>
{% block head %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
