@use '../../_theme.scss';
@use '../../_mixin.scss';

pkt-button-pin {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

pkt-sidebar {
    [el="sidebar"] {
        width: 280px;
    }
    [el="profile"] {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 10rem;
        background-color: theme.pallete(c1);
        [el="close"] {
            position: absolute;
            right: 0;
            border-radius: 0;
            font-size: 1.2em;
            @media (min-width: 1120px) {
                display: none;
            }
        }
        [el="logo"] {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5em;
            font-weight: bold;
            @include mixin.bg-color(theme.pallete(c2));
            border-radius: 50%;
            padding: 0.5em;
            text-decoration: none;
        }
        [el="version"]{
            display: flex;
            justify-content: center;
            align-self: flex-end;
            width: 100%;
        }
    }
    [el="menu"] {
        ul {
            padding-left: 0.75rem;
            list-style-type: none;
        }
        > ul {
            padding: 0;
        }
        li {
            align-content: center;
            line-height: 2rem;
        }
        a {
            display: flex;
            flex-wrap: wrap;
            text-decoration: none;
            align-content: center;
            padding-left: 0.5rem;
            color: inherit;
            width: 100%;
            box-sizing: border-box;
            line-height: 2rem;
        }
        a:hover {
            @include mixin.bg-color(theme.pallete(p1));
        }
    }
}