<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        const base_url = "{{ config.site_url }}"; /* for search plugin notably */
    </script>
    {% include "templates/dark.html" %}


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "templates/seo.html" %}

    {%- if config.theme.favicon %}
    <link rel="icon" href="{{ config.theme.favicon | url }}">
    {%- else %}
    <link rel="icon" href="{{ 'img/favicon.ico' | url }}">
    {%- endif %}

    <link href="{{ 'css/base.css' | url }}" rel="stylesheet">
    <link href="{{ 'css/geist.css' | url }}" rel="stylesheet">

    {% if "codehilite" in config.markdown_extensions %}
    {% include "templates/pygments.html" %}
    {% endif %}

    {%- for path in config.extra_css %}
    <link href="{{ path | url }}" rel="stylesheet">
    {%- endfor %}

    {% if page.meta.extra_css %}
    {%- for path in page.meta.extra_css %}
    <link href="{{ path | url }}" rel="stylesheet">
    {%- endfor %}
    {% endif %}

    <script src="{{ 'js/callbacks.js' | url }}"></script>

    {% if "pymdownx.arithmatex" in config.markdown_extensions %}
    {% include "templates/katex.html" %}
    {% endif %}

    {% if "shadcn.extensions.echarts.alpha" in config.markdown_extensions %}
    {% include "templates/echarts.html" %}
    {% endif %}

    {% if "shadcn/excalidraw" in config.plugins and is_dev_server %}
    {% include "templates/excalidraw.html" %}
    {% endif %}

    {% if "toc" in config.markdown_extensions %}
    {% include "templates/permalink.html" %}
    {% endif %}

    {% include "templates/extra_head.html" %}
</head>

<body
    class="text-foreground group/body overscroll-none font-sans antialiased [--footer-height:calc(var(--spacing)*14)] [--header-height:calc(var(--spacing)*14)] xl:[--footer-height:calc(var(--spacing)*24)] theme-default">
    <div id="inner-body" class="bg-background relative z-10 flex min-h-svh flex-col">
        {% include "templates/header.html" %}
        <main class="flex flex-1 flex-col">
            <div class="container-wrapper flex flex-1 flex-col px-2">
                <div data-slot="sidebar-wrapper"
                    style="--sidebar-width:calc(var(--spacing) * 72);--sidebar-width-icon:3rem;"
                    class="group/sidebar-wrapper has-data-[variant=inset]:bg-sidebar flex w-full 3xl:fixed:container 3xl:fixed:px-3 min-h-min flex-1 items-start px-0 [--sidebar-width:220px] [--top-spacing:0] lg:grid lg:grid-cols-[var(--sidebar-width)_minmax(0,1fr)] lg:[--sidebar-width:240px] lg:[--top-spacing:calc(var(--spacing)*4)]">
                    <div data-slot="sidebar"
                        class="w-(--sidebar-width) flex-col text-sidebar-foreground sticky top-[calc(var(--header-height)+0.6rem)] z-30 hidden h-[calc(100svh-10rem)] overscroll-none bg-transparent [--sidebar-menu-width:--spacing(56)] lg:flex">
                        <div class="h-9"></div>
                        <div
                            class="absolute top-8 z-10 h-8 w-(--sidebar-menu-width) shrink-0 bg-gradient-to-b from-background via-background/80 to-background/50 blur-xs">
                        </div>
                        <div
                            class="absolute top-12 right-2 bottom-0 hidden h-full w-px bg-gradient-to-b from-transparent via-border to-transparent lg:flex">
                        </div>
                        <div data-slot="sidebar-content" data-sidebar="content" view-transition-name="sidebar"
                            class="flex min-h-0 flex-1 flex-col gap-2 overflow-auto group-data-[collapsible=icon]:overflow-hidden mx-auto no-scrollbar w-(--sidebar-menu-width) overflow-x-hidden px-2">
                            {% include "templates/sidebar.html" %}
                        </div>
                    </div>
                    <div class="h-full w-full">
                        <div data-slot="docs" class="flex items-stretch text-[1.05rem] sm:text-[15px] xl:w-full">
                            <div class="flex min-w-0 flex-1 flex-col">
                                <div class="h-(--top-spacing) shrink-0"></div>
                                {% include "templates/page.html" %}
                                {% include "templates/bottom_navigation.html" %}
                                {% include "templates/bottom_sidebar.html" %}
                            </div>
                            <div
                                class="sticky top-[calc(var(--header-height)+1px)] ml-auto hidden h-[calc(100svh-var(--header-height)-var(--footer-height))] w-72 flex-col gap-4 overflow-hidden overscroll-none pb-8 xl:flex">
                                <div class="h-(--top-spacing) shrink-0"></div>
                                {% include "templates/toc.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% include "templates/footer.html" %}
    </div>


    {%- for script in config.extra_javascript %}
    {% include "templates/script.html" %}
    {%- endfor %}

    {% if page.meta.extra_javascript %}
    {%- for script in page.meta.extra_javascript %}
    {% include "templates/script.html" %}
    {%- endfor %}
    {% endif %}

    <script src="{{ 'js/copy-button.js' | url }}"></script>
    <script src="{{ 'js/sidebar.js' | url }}"></script>
    <script src="{{ 'js/slider.js' | url }}"></script>
    <script>updatePygmentsStylesheet();</script>
    {% if "mkdocstrings" in config.plugins %}
    {% include "templates/mkdocstrings.html" %}
    {% endif %}
    {% if "shadcn.extensions.codexec" in config.markdown_extensions %}
    {% include "templates/codexec.html" %}
    {% endif %}
    {% include "templates/speculation_rules.html" %}
</body>

</html>
