<!doctype html>
<html lang="en">
{% set _v = 2 %}

<!-- <base href="https://nitipit.github.io/dictify/"> -->
<base href="http://0.0.0.0:8000">
<head>
    
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5LLZLHM');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    <title>Dictify</title>
    {% endblock %}
    <link rel="stylesheet" href="base.css?v={{_v}}">
    <link rel="stylesheet" href="ui/sidebar/sidebar.css?v={{_v}}">
    <script defer src="base.js?v={{_v}}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LLZLHM" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% block sidebar %}
{% include 'ui/sidebar/_sidebar.html' %}
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
<div style="min-height: 20vh; width: 100%;"></div>
{% endblock %}
</body>

</html>