@use 'sass:color';
@use 'ui-mixin';
@use 'theme';

#new-features {
    a {
        @include ui-mixin.box-arrow(
            $arrow: left,
            $bg-color: theme.pallete(c),
        );
        text-decoration: none;
        display: inline-block;
        margin-left: 1rem;
        padding: 0rem 0.5rem;
    }
}

a.button {
    @include ui-mixin.button(
        $bg-color: color.adjust(white, $lightness: -12%)
    );
}