$bits_ui_path = '../../../node_modules/bits-ui/'

@require '_require'
@require 'default'
@require 'typography'
@require 'ui-class'

@font-face
    font-family: bits-ui
    src: url('../Fira_Sans/FiraSans-Regular.ttf')

@font-face
    font-family: 'Fira Sans'
    src: url('../Fira_Sans/FiraSans-Regular.ttf')

body
    font-family: 'Fira Sans'

h1, h2, h3, h4, h5, h6
    font-family: 'Fira Sans'

h1
    margin-top: 1em
    margin-bottom: 0.8em

h2, h3, h4, h5, h6
    margin-top: 1.2em
    margin-bottom: 1em

h2, h3, h4, h5, h6
    font-weight: bold

p
    margin-top: 0.8em
    margin-bottom: 0.8em
    line-height: 1.7

ul li p
    margin: auto

.wy-nav-top
    line-height: 1.8
    a
        font-size: 1.5em

.rst-content div[class^='highlight'] pre
    font-size: 0.9rem
    padding: 0.5rem
    border-radius: 2px

.rst-content code.literal
    font-size: 0.9rem
    vertical-align: middle